main{}

body{
    height: 100vh;
    margin: 0;
}

.no-display {
    display: none !important;
}

#pre-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

#pre-game h1{
    margin: 0;
}
#round-picker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#round-picker button{
    background: none;
    border: none;
}

main{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.gameboard{
    position: absolute;
}
.displays-con{
    display: flex;
   align-items: center;
   justify-content: center;
    height: 100%;

}
.displays-con div{
    display: flex;
    flex-grow: 1;
    height: 100%;
    border: 2px solid green;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.displays-con > .display.player{
    justify-content: flex-end;
    padding-bottom: 64px;
}

.displays-con > .display.com{
    justify-content: flex-start;
    padding-top: 64px;
}

.display img{
    border: 1px solid red;
    width: 400px;
    height: 400px;
}


.controls-con{
    flex-basis: 100px;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}